@import "../../styles/variables.scss";

.streams {
  background: $dark-gray;
  font-size: 1em;
  padding-bottom: 5em;

  .titleContainer {
    height: 15em;
    display: flex;
    align-items: center;

    .sectionTitle {
      margin-left: 1.5em;
      padding: 0.5em 1em 0.5em 1em;
      font-size: 3em;
      font-weight: bold;
      background: $bot;
      border-radius: 0.5em;
      color: $white;
    }
  }

  .videoList {
    margin: 0 1em;
    height: max-content;
    z-index: 0;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .streams {
    font-size: 0.75em;
  }
}
