@import "../../styles/variables.scss";

.footerContainer {
  font-size: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-top: 1px white solid;

  .projectName {
    font-weight: bold;
    margin: 0.75em 0;
  }

  .socials {
    margin: 0.75em 0;

    a {
      margin: 0 1em;
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: #ccc;
    }
  }

  .c {
    margin: 0.75em 0;
  }
}

@media screen and (max-width: $breakpoint-phone) {
  .footerContainer {
    flex-direction: column;
  }
}
