$white: #ffffff;
$gray: #989898;
$dark-gray: #5b5b5b;
$primary: #27c7ff;
$bot: #4f9fef;
$top: #5fddef;
$black: #000;
$nijisanji-primary: #254a72;

$breakpoint-tablet: 860px;
$breakpoint-phone: 426px;
