@import "../../styles/variables.scss";

.navbarContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: $bot;
  font-size: 1em;
  font-weight: 500;
  background: $white;
  box-shadow: 0 5px 20px 0 $black;
  height: 4em;

  .siteNameContainer {
    width: 50%;
    margin: 0;

    .siteName {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8em;
      height: 100%;
    }
  }

  .navigators {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 100%;
  }

  .navs:hover {
    color: $white;
    background: $bot;
  }
}
