@import "../../styles/variables.scss";

.streams {
  background: $dark-gray;
  font-size: 1em;
  padding-bottom: 5em;

  .titleContainer {
    height: 15em;
    display: flex;
    align-items: center;

    .sectionTitle {
      margin-left: 1.5em;
      padding: 0.5em 1em 0.5em 1em;
      font-size: 3em;
      font-weight: bold;
      background: $bot;
      border-radius: 0.5em;
      color: $white;
    }
  }

  .videoList {
    margin-left: 0.45em;
    display: grid;
    font-size: 10em;
    grid-template-columns: repeat(5, 3em);
    column-gap: 0.3em;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 0;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .scrollers {
    position: absolute;
    height: 50%;
    width: 100%;

    .right {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: max-content;
      z-index: 1;
    }

    .left {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: max-content;
      z-index: 1;
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .streams {
    font-size: 0.75em;
  }
}
